﻿#title {
    color: red;
    background-color: #454c56;
    margin: auto;
    float: inherit;
    text-align: center;
}

#subtitle {
    color: red;
    background-color: #454c56;
    margin: auto;
    text-align: center;
}

#ControlHeader {
    font-size: larger;
    font-weight: 200;
}

#rotorkLogo {
    float: right;
    margin-right: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#controlForm {
    text-align: center;
}

h2 {
    color: lightgrey;
}

table {
    align-self: center;
}

iframe {
    border: 1px solid #cccccc;
}

label {
    position: center;
    color: lightgrey;
    margin-bottom: 3px;
}

body {
    background-color: #454c56;
}

button {
    text-align: center;
    margin-top: 3px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 3px;
    min-width: 60px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

    button:hover {
        background-color: red;
        color: white;
    }

select {
    margin: 3px;
}

input {
    margin: 3px;
    width: auto;
}

output {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: lightgrey;
    font-weight: bold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px;
    background-color: inherit;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        color: lightgrey;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        .tab button:hover {
            color: red;
        }
